
body {
    background: #fefefe;
}

h1 {
    color: brown;
    text-align: center;
}

h2 {
    color: #042342;
    background-color: #a2ccf7;
}

h3 {
    color: #064d94;
}

section {
    background-color: #fefefe;
}

article {
    background-color: #fefefe;
}

footer {
    color: white;
    text-align: center;
    background-color: brown;
}

.my-bolt {
    font-weight: bold;
}

.my-purple {
    color: purple;
}

#my-color {
    color: orangered;
}