
body {
    background: #fefefe;
}

header {
text-align: center;
}

h1 {
    position: relative;
    color: brown;
    text-align: center;
}

h2 {
    color: #042342;
    background-color: #a2ccf7;
}

h3 {
    color: #064d94;
}

section {
    background-color: #fefefe;
}

article {
    background-color: #fefefe;
}

footer {
    color: white;
    text-align: center;
    background-color: brown;
}

.nawigacja {
    background-color: #f5b664;
    display: inline-block;
    margin: 10px 5px 5px 5px;
    padding: 15px;
    border-radius: 30px;
    width: 100px;
}

.my-list {
    color: hotpink;
}

.my-bolt {
    font-weight: bold;
}

.my-purple {
    color: purple;
}

#my-color-orange {
    color: orangered;
}